@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:white;
    --black:#13131a;
    --bg:#b4b1b1;
    --border: 5px solid #006400;
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;

}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    /*background: var(--bg);*/
    background: url("pictures/backgr.jpeg");
    /* /*background-color: rgba(180, 177, 179, 0.5); */
    /* margin-bottom: -600px; */
    overflow-y: hidden;
    overflow-x: hidden;
    overflow-block: hidden; 
}

section{
    display: flex;
    flex-direction: column;
    padding:2rem 7%;
}
.btn:hover{
    letter-spacing: .2rem;
}

.header{
    background-repeat: no-repeat;
    background-size: 1500px;
    background: var(--main-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 90px;
    width: 100px;
    position: relative;
    top: 4px;
    left: 1160px;

}
/*.header .logo img:hover{
    height: 95px;
    width: 100px;
}*/

.header .navbar a div{
    position: relative;
    left: 230px;
    top: 0px;
    margin: 0px 100px;
    font-size: 30px;
    text-align: center;
    color:darkgreen;
    height: 95px;
    /* width: 90px; */
    /* display: flex;
    flex-direction: ; */
}

.header .navbar a div:hover{
    /*color:var(--main-color);*/
    /*border-bottom: .1rem solid var(--main-color);*/
    background: darkgreen;
    /*border-bottom:14px solid darkgreen;*/
    padding-top: 5rem;
    padding-bottom: 3rem;
    color: white;
}
/* .header .icons div{
    position: relative;
    top: 0px;
    right: 1130px;
    color:darkgreen;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
}

.header .icons div:hover{
    color:var(--black);
} */

/*.picture .pict img{
    width: 1300px;
    position: relative;
    top: 4px;
    right: 100px;
    height: 650px;
    display: flex;

}*/
.picture .pict .image{
    width: 1370px;
    height: 550px;
    position: relative;
    top: 4px;
    right: 100px;
    display: flex;
    flex-direction: row;
}

/* #menu-btn{
    display: none;
    display: flex;
    flex-direction: row;
} */

/*.header .search-form{
    position: absolute;
    top:100%; 
    right: 10%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}*/
.header .search-form{
    position: relative;
    top: -9px;
    right: 900px;
    display: flex;
    flex-direction: column;
}
.header .search-form #search-box{
    border: 2px solid darkgreen;
    border-radius: 2px;
}
.header .search-form .fa-search{
    color: darkgreen;
}
.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    position: relative;
    top: 30px;
    left: 40px;
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color:var(--black);
    padding:1rem;
    text-transform: none;

}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color:darkgreen;
}

.header .search-form label:hover{
    color: green;
}

.header .share{
    padding: 1rem 0;
}
.header .share i {
    color: #006400;
    /* display: none; */
    visibility: hidden;
}

.header .share a{
    height: 5rem;
    width: 5rem;
    line-height: 4rem;
    text-align: center;
    font-size: 2rem;
    color:darkgreen;
    border:var(--border);
    margin:.3rem;
    border-radius: 50%;
    position: relative;
    left: -200px;
}
.header .share #fa{
    position: relative;
    left: -500px;
}
.header .share #wth{
    position: relative;
    left: -500px;
}
.header .share #inst{
    position: relative;
    left: -500px;
}
.header .share a:hover{
    background-color: var(--main-color);
}
.header span a{
    position: relative;
    top: 5px;
    left: -1100px;
    color: darkgreen;
    font-size: x-large;
    font-weight: bolder;
}
.header a #cart-btn{
    position: relative;
    /* bottom: 90px; */
    top: 53px;
    left: 1180px;
    color: #006400;
    position: fixed;
    /* background-color: white; */
    /* border: 5px solid white; */
    border-radius: 20px;
}
.header a #cart-btn span{
    background-color: red;
    border: 5px solid red;
    border-radius: 10px;
    /* font-size: 10px; */
    color: #f7f7f7;
    /* width: 4px;
    height: 4px; */
    font-size: medium;
    /* position: relative;
    top: -30px; */
    position: fixed;
}
/* .header #lan a{
    color: #006400;
    position: relative;
    top: 10px;
    left: -830px;
} */
/*.menu .cart-items-container{
    position: absolute;
    top:100%; right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding:0 1.5rem;
}

/* .menu .cart-items-container.active{
    right: 0;
}

.menu .cart-items-container .cart-item{
    position: relative;
    margin:2rem 0;
    display: flex;
    align-items: center;
    gap:1.5rem;
}

.menu .cart-items-container .cart-item .fa-times{
    position: absolute;
    top:1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.menu .cart-items-container .cart-item .fa-times:hover{
    color:var(--main-color);
}

.menu .cart-items-container .cart-item img{
    height: 7rem;
    
}

.menu .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.menu .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color:var(--main-color);
}

.menu .cart-items-container .btn{
    width: 100%;
    text-align: center;
}
.menu .cart-item img{
    position: relative;
    top: 100px;
    left: 400px;
    width: 400px;
    height: 200px;
}*/
#elf{
    position:relative;
    top: 0;
    right: 100px;    
    color: darkgreen;
}
.menu .cart-items-container{
    /* margin-bottom: -250vh; */
    margin-bottom: -240vh;
    display: flex;
    flex-direction: column;
}
.menu .cart-items-container .cart-item #cont .prix{
    margin-inline-start: -20px;
    color: yellow;
    font-size:32px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
}
.picture .pict img{
    height: 40vh;
    width: max-content;
    display: flex;
    flex-direction: column;
}
.description .descr p{
    width: 1400px;
    height: 11vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 30px;
    border: var(--border);
    text-align: center;
    background-color: darkgreen;
    color: white;
    padding-block: 10px;
    /* padding-top: -12px;  */
    padding-bottom: -12px; 
    margin-top: -37px;
    margin-left: -95px;
    /* margin-left: 50px; */
}
.description .us #title, #paragr{
    width: 1000px;
    font-size: medium;
    margin: 10px;
    padding: 20px;

}
.description .us #title{
    position: relative;
    top: 0;
    left: 700px;
    font-size: 50px;
    font-weight: 1000;
    color: #006400;
    margin-left: -15px;
}
.description .us #paragr{
    margin-left: -45px;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 1200px;
    font-weight: 800;
    /* word-spacing: 5px; */
    line-height: 60px;
    text-align: end;
}
.description .us #paragr b{
    visibility: hidden;
}
.description .us h3{
    font-size: 40px;
    font-weight: 12vh;
    color: #006400;
    margin-bottom: 7px;
    margin: 10px;
    padding: 20px;
}
.description .us p{
    margin-left: -13px;
    font-size: 35px;
    font-weight: 800;
    line-height: 60px;
    /* margin: 5px; */
    margin: 10px;
    padding: 20px;
}
.menu{
    overflow-y: hidden;
}
.menu .aside span{
    background-color: red;
    border: 2px solid red;
    border-radius: 10px;
    color: #f7f7f7;
    /* width: 4px;
    height: 4px; */
    font-size: medium;
    position: fixed;
}
.menu .cart-items-container .cart-item img{
    width: 500px;
    height: 400px;
    /*padding: 20px;*/
    margin: 10px;
    position: relative;
    top: 0px;
    left: 30px;
    display: flex;
}
.menu .cart-items-container .cart-item img:hover{
    border: var(--border);
    border-radius: 3px;
}
.menu .cart-items-container .cart-item .pic2{
    position: relative;
    top: -650px;
    left: 600px;
}
.menu .cart-items-container .cart-item .pic3{
    position: relative;
    top: -489px;
    left: 600px;
}
.menu .cart-items-container .cart-item .pic4{
    position: relative;
    top: -1140px;
    left: 30px;
}
.menu .cart-items-container .cart-item .pic5{
    position: relative;
    top: -980px;
    left: 30px;
}
.menu .cart-items-container .cart-item .pic6{
    position: relative;
    top: -1630px;
    left: 600px;
}
 .menu .cart-items-container .cart-item .pic7{
    position: relative;
    top: -1470px;
    left: 600px;
}
.menu .cart-items-container .cart-item .pic8{
    position: relative;
    top: -2120px;
} 
.menu .cart-items-container .cart-item .pic9{
    position: relative;
    top: -1960px;
    left: 330px;
}
.menu .cart-item .content1 {
    width: 500px;
    height: 35vh;
    text-align: center;
    background-color: darkgreen;
    color: white;
    position: relative;
    top: -12px;
    left: 40px;
    padding: 13px;
}
.menu .cart-item .content2{
    width: 500px;
    height: 35vh;
    text-align: center;
    background-color: darkgreen;
    color: white;
    position: relative;
    top: -662px;
    left: 610px;
    padding: 13px;
}
.menu .cart-item .content3{
    width: 500px;
    height: 35vh;
    text-align: center;
    background-color: darkgreen;
    color: white;
    position: relative;
    top: -501px;
    left: 610px;
    padding: 13px;
}
.menu .cart-item .content4{
    width: 500px;
    height: 35vh;
    text-align: center;
    background-color: darkgreen;
    color: white;
    position: relative;
    top: -1152px;
    left: 40px;
    padding: 13px;
}
.menu .cart-item .content5{
    width: 500px;
    height: 35vh;
    text-align: center;
    background-color: darkgreen;
    color: white;
    position: relative;
    top: -992px;
    left: 40px;
    padding: 13px;
}
.menu .cart-item .content6{
    width: 500px;
    height: 35vh;
    text-align: center;
    background-color: darkgreen;
    color: white;
    position: relative;
    top: -1642px;
    left: 610px;
    padding: 13px;
}
.menu .cart-item .content7 {
    width: 500px;
    height: 35vh;
    text-align: center;
    background-color: darkgreen;
    color: white;
    position: relative;
    top: -1482px;
    left: 610px;
    padding: 13px;
}
.menu .cart-item .content8 {
    width: 500px;
    height: 35vh;
    text-align: center;
    background-color: darkgreen;
    color: white;
    position: relative;
    top: -2132px;
    left: 40px;
    padding: 13px;
}
.menu .cart-item .content9{
    width: 500px;
    height: 35vh;
    text-align: center;
    background-color: darkgreen;
    color: white;
    position: relative;
    top: -1972px;
    left: 340px;
    padding: 13px;
}
.menu .cart-item #cont .counter{
    position: relative;
    top: -35px;
    left: -150px;
}
.menu .cart-item #cont .counter .minus{
    border: 3px solid white; 
    color: #006400;
    position: relative;
    top: 30px;
    left: 75px;
    font-weight: bolder;
    font-size: x-large;
    width: 30px; 
    height: 30px;
    cursor: pointer;
}
.menu .cart-item #cont .counter .h12{
    border: 3px solid white; 
    background-color: white;
    font-size: large;
    font-weight: bold;
    color: darkgreen;
    margin-left: 350px;
    width: 60px; 
    height: 30px;
}
.menu .cart-item #cont .counter .plus{
    border: 3px solid white; 
    color: #006400;
    position: relative;
    top: -30px;
    left: 210px;
    font-weight: bolder;
    font-size: x-large;
    width: 30px; 
    height: 30px;
    cursor: pointer;
}
.menu .cart-item #cont img{
    width: 40px;
    height:40px; 
    /* viewbox :"0 0 28 26"; */
    position: relative;
    top: -110px;
    left: 330px;
    cursor: pointer;
}
.menu .cart-item #cont #name{
    font-size: 40px;
}
.menu .cart-item #cont #ti{
    background-color: white;
    color: #006400;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    width: 60px;
    height: 30px;
    border: 3px solid;
    text-align: center;
    margin-inline-start: 200px;
    margin-block-start: 10px;
    border: none;
    padding-top: 4px;
}
.menu .cart-item #cont .poids button{
    font-size: 20px;
    border: 3px solid ;
    background-color: white;
    color: #006400;
    border-radius: 5px;
    border: none;
    text-align: center;
    width: 60px;
    height: 30px;
    font-weight: bolder;
    /* padding: 5px; */
    margin-inline-start: 10px;
    cursor: pointer;
    margin-block:10px ;
}
.menu .cart-item #cont .poids button:hover{
    /* border: 5px solid white; */
    background-color: #006400;
    color: white;
}
.menu .cart-item #cont #milk , #lben , #rayeb , #zebda , #jben , #smen , #jbn , #jban , #ryb{
    width: 100px;
    color: darkgreen;
    font-size: 20px;
}
.menu .cart-item #cont #jb{
    font-size: 35px;
}
.menu .cart-item #cont #rb{
    font-size: 35px;
}
.menu .aside #count-el{
    /* position: relative;
    top: 80px;
    left: -1900px; */
    margin-top: 490px;
    margin-left: 1230px;
    color: white;
    background-color: red;
}
.menu .aside a img{
    /* background-color: #006400; */
    width: 70px;
    height: 70px;
    position: relative;
    left: 1275px;
    bottom: 5px;
    position: fixed;
    cursor: pointer;
}
.menu .aside a img:hover{
    width: 80px;
    height: 80px;
    cursor: pointer;
}
/* .menu .cart-items-container .cart-item .content h3{
    color: darkslategrey; 
    position: relative;
    top: 14px;
    left: 500px;
    font-size: 50px;

}
.menu .cart-items-container .cart-item .content .price{
    color: darkslategrey;
    position: relative;
    top: 16px;
    left: 550px;
    font-size: 40px;
}
.menu .cart-items-container .cart-item .content:hover{
    background:var(--bg);
    padding: 10px;
    margin: 10px;
    display: flexbox;
} */
.menu .aside #cart-btn{
    position: relative;
    bottom: 90px;
    left: 1280px;
    color: #006400;
    position: fixed;
    background-color: white;
    border: 5px solid white;
    border-radius: 20px;
}

/* .menu .aside a #wtsp-btn{
    position: relative;
    bottom: 140px;
    left: 1310px;
    color: darkgreen;
    position: fixed;
} */
.footer{
    border-top:var(--border) ;
    background: darkgreen;
    text-align: center;
    /* display: flexbox; */
    height: 350px;
}

.footer .share{
    padding:1rem 0;
    margin-inline-start: 700px;
    position: relative;
    top: 10px;
    left: -100px;
    width: 70px;
    height: 70px;
    display: inline;
}

.footer .share a{
    position: relative;
    left: 100px;
    top: -50px;
    height: 6rem;
    width: 6rem;
    line-height: 5rem;
    text-align: center;
    font-size: 4rem;
    /* color:rgb(196, 15, 15); */
    /* border: 5px solid white; */
    margin:.3rem; 
    border-radius: 50%;
    /* padding: 10px; */
}
.footer #social{
    position: relative;
    top: -20px;
}
/* .footer .share a:hover{
    background-color: var(--main-color);
    color: #006400;

}  */
/*  
.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
} */

/* .footer .links a{
    padding:.7rem 2rem;
    color:darkgreen;
    border:var(--border);
    font-size: 2rem;
} */

/* .footer .links a:hover{
    background:var(--main-color);
} */

/* .footer .credit{
    font-size: 2rem;
    color:#fff;
    font-weight: lighter;
    padding:1.5rem;
} */

/* .footer .credit span{
    color:var(--main-color);
} */
/* .footer a[id="wts"]{
    background-color: azure;
    width: 500px;
    height: 100px;
    position: relative;
    bottom: 100px;
    left: 100px;
} */
.footer .horaire {
    position: relative;
    top: 150px;
    left: 350px;
    font-size: 20px;
    color: white;
}
.footer #hours{
    margin-block-start: -10px;
    /* line-height: 4rem; */
    padding-block-end: 13px;
}
.footer .footr{
    width: 280px;
    height: 280px;
    position: relative;
    top: -385px;
    left: -620px;
    margin-left:220px ;
    color: white;
}
.footer #footr-ar{
    position: relative;
    top: -400px;
}
/* footer .tit{
    position: relative;
    /* top: 0px; 
    left: -160px; 
    font-weight: bolder;
    font-size: 35px;
    /* color: white; 
} */
/* footer .arab{
    position: relative;
    /* top: -70px; 
    left: -180px;
    font-style: italic;
    font-weight: bolder;
    font-size: 46px;
    color: white;
} */
footer .livraison img {
    width: 348px;
    height: 160px;
    position: relative;
    top: -110px;
    left: -100px;
}
.footer .livraison #moto{
    margin-block-start: -20px;
}
footer .livraison .liv{
    border: none;
    font-size: 40px;
    font-weight: bolder;
    color: rgb(255, 242, 0);
    position: relative;
    top: -100px;
    left: -100px;
}
footer .livraison .liv b{
    display: block;
}
/* footer .pay{
    width: 200px;
    height: 50px;
    position: relative;
    top: -235px;
    left: -300px;
} */
/* .footer form .suggestion img{
    width: 400px;
    height: 300px;
    position: relative;
    top: 60px;
    left: 400px;
} */
 .footer form .suggestion input[type="text"]{
    width: 300px;
    height: 50px;
    /* margin-inline-end: -800px;
    margin-top:-140px ; */
    position: relative;
    top: 140px;
    left: 290px;
    border: 4px solid darkgreen;
    border-radius: 8px;
}

.footer form input[id="ar"]::placeholder{
    text-align: end;
    color: #029243;
    font-size: large;
    padding: 4px;
}
.footer form input[id="ar"]{
    text-align: end;
}
.footer form input[type="text"]::placeholder{
    color: #029243;
    font-size: large;
    padding: 4px;
}
.footer form button{
    width: 100px;
    height: 40px;
    border: 3px solid darkgreen;
    border-radius: 6px;
    color: white;
    background-color: darkgreen;
    /* margin-inline-end: -500px;
    margin-top: -160px; */
    position: relative;
    top: 130px;
    left: 190px;
    font-size: x-large;
}
.footer form button:hover{
    background-color: white;
    color: darkgreen;
}
.footer form{
    position: relative;
    top: -600px;
    left: 150px;
    
}  


/* media queries  
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}*/
/* @media (max-width:600px) {
    html{
        overflow-x: hidden;
        font-size:55%;

    }

    .header .search-form{
        position: relative;
        left: 700px;

    }
} */
/* @media only screen and (max-width:1000px){
    .header{
        display: flex;
        flex-direction: row;
    }
    /* .header .icons div{
        position: relative;
        top: 10px;
        right: 570px;
        display: flex;
        flex-direction: row;

    } */
    /* .header .search-form{
        position: relative;
        top: -15px;
        left: -780px;
        display: flex;
        flex-direction: row;
    }
    .header .share{
        position: relative;
        top: 0;
        right: 400px;
        display: flex;
        flex-direction: row;
    }
    .header .navbar a{
        position: relative;
        top: 0;
        left: 100px;
        display: flex;
        flex-direction: row;
    }
    .header .logo img{
        width: 100px;
        position: relative;
        top: 4px;
        left: 585px;
        display: flex;
        flex-direction: row;
    }

    .picture .pict img{
        width: 600px;
        justify-content: center;
        display: flex;
        flex-direction: row;
    }

    .header .share a{
        margin-left:40px;
        display: flex;
        flex-direction: row;
    } 

} */ 





